:root{
  --beginner:  #F7FFF7;
  --moderate: #8B8BAE ;
  --expert:  #1B998B ;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  color: whitesmoke;
}

html,body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.sub-title {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  color: whitesmoke;
  transition: 0.3s;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url("Images/background.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.container {
  padding: 10px 10%;          
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav li {
  display: inline-block;
  margin: 10px 20px;
}

.header-text-shifted {
  padding-right: 30%;
  transition: 0.4s;
}

.logo a {
  text-decoration: overline;
  border-radius: 45%;
  padding: 15px 5px;
  mix-blend-mode: color-burn;
  color: #30036e;
  font-weight: bolder;
  font-size: 25px;
  cursor: pointer;
}

.nav li a {
  color: #13032a;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
  position: relative;
}

.nav li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #5150bd;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

.nav li a:hover::after {
  width: 100%;
}

.header-text {
  display: inline-block;                                      /* edit made here */
  margin-top: 20%;
  font-size: 35px;
}

.header-text span {
  color: #ff004f;
}
.header-text h1 {
  color: rgb(15, 7, 63);
}
.header-text p {
  letter-spacing: 10px; /* edit made here */
  display: inline-block; /* edit made here */
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px; /* edit made here */
  color: rgb(39, 4, 105);

  /* edit made below */
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2.5s;
}

@keyframes typing {
  from {
    width: 0;
  }
}
/* ---------------------About me------------------- */

#about {
  /* background-color: rgb(3, 3, 38);  good color */
  background-color: #13032a;
  padding: 80px 0;
  color: #ababab;
}

#about .sub-title:hover {
  color: #65aa04;
  translate: 4px -1px;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  margin-left: 13%;
  width: 100%;
  border-radius: 20px;
}
.about-col-2 {
  padding: 0 5%;
  flex-shrink: 10px;
  flex-basis: 60%;
}
.sub-title {
  font-size: 55px;
  font-weight: 600;
  color: #fff;
}
.about-me-p {
  color:rgb(124, 157, 25);
  margin-top: 10px;
}

.tab-titles {
  display: flex;
  margin: 20px 0px 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #bfaf20;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 100%;
}

.tab-contents ul li {
  list-style: none;
  margin: 14px 0;
}

.tab-contents ul li span {
  font-size: 16px;
  color: #ff004f;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

/* ------------------------Services------------------------ */

#service {
  background-color: #13032a;
  padding: 30px 0;
}

#service .sub-title:hover {
  color: #04a7e7;
  translate: 4px -1px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  gap: 40px;
}

.services-list div {
  background-color: #262626;
  flex: 1 1 250px;
  max-width: calc(100% - 40px); /* adjusting for the gap */
  padding: 40px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 300;
  transition: 0.56s;
  transform: 0.6s;
}

.services-list div i {
  color: aquamarine;
  font-size: 50px;
  margin-bottom: 25px;
}

.services-list div h2 {
  font-size: 35px;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 15px;
}
.services-list div a {
  text-decoration: none;
  color: rgb(183, 157, 30);
  font-size: 15px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover {
  background: #164484;
  transform: translate(0, -10px);
}
.services-list div:hover a {
  color: #f80307;
}

/*Portfolio*/

#portfolio {
  background-color: #13032a;
}

#portfolio .sub-title:hover {
  color: #04a7e7;
  translate: 4px -1px;
}


.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: block;
  transition: 0.6s;

}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(11, 215, 59));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: 0.3s ease-in-out;
}
.layer p {
  font-size: 1rem;
  color: black;
  font-weight: 500;
  background-color: #ff450183;
  padding: 20px;
  border-radius: 20px;
}

.layer i {
  color: rgb(50, 7, 241);
}
.layer a {
  margin-top: 20px;
  color: #ababab;
  font-size: 18px;
  text-decoration: none;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.layer h3 {
  padding: 10px;
  font-weight: 900;
  margin-bottom: 20px;
  color: floralwhite;
  background-color: #6209e085;
  border-radius: 10px;
}

.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}

.button {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 2px solid rgb(9, 164, 162);
  padding: 14px 40px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.no-show {
  display: none;
}
/* ------------------contact */

#contact {
  background-color: #13032a;
}
#contact .sub-title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: 0.3s;
}
#contact .sub-title:hover {
  color: #04a7e7;
  translate: 4px -1px;
}

.contact-left {
  flex-basis: 30%;
  align-self: flex-start;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: 0.5s;
}

.social-icons {
  margin-top: 35px;
}

.social-icons a:hover {
  color: #ff004f;
  transform: translate(0, -5px);
}
.social-icons a:hover i {
  color: #0e9fd8;
}

.button.button2 {
  display: inline-block;
  background-color: #ff004f;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: none;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: whitesmoke;
  font-size: 18px;
  border-radius: 6px;
}

form .button.button2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
}

.button:hover {
  background: #900632;
}

#message {
  color: #61b752;
  margin-top: -40px;
  display: block;
  transition: 0.6s;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 400;
  font-size: 18px;
  margin-top: 20px;
}
.copyright i {
  padding-right: 1 0px;
  font-size: 20px;
  color: red;
}

/* Making responsive  */

nav .fa-solid {
  display: none;
}

@media (max-width: 706px) {

  body{
    overflow-x: hidden;
  }

  .layer {
    height: 100%;
  }

  #header {
    background-image: url("Images/phone-background.png");
  }

  nav .fa-solid {
    display: block;
    font-size: 25px;
  }

  nav ul {
    background: #ff0051;
    position: absolute;
    top: 0;
    /* right: 0; */
    transform: translateX(0);                       /* EDIT MADE HERE */
    width: 200px;
    height: 100vh;
    padding-top: 60px;
    z-index: 2;
    transition: 0.6s;
  }
  nav ul .nav-li {
    display: block;
    margin: 25px;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 35px;
    cursor: pointer;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .sub-title {
    font-size: 40px;
  }
  .about-col-1 {
    flex-basis: 50%;
    flex-grow: 0.45;
    margin: 20px 10%;
  }
  .about-col-2 {
    font-size: 20px;
    margin: 40px 5%;
  }

  .tab-links {
    font-size: 20px;
    margin-right: 20px;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
}


#skills{
  background-color: #13032a;
}

.myskills{
  text-align: center;
}

.color-teller{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgb(0, 170, 248);
}

.show-s{
  margin-bottom: 20px;
  border-bottom: 5px solid rgb(248, 9, 0);
  display: inline-block;
  text-align: center;
  padding-top: 7px;
  width: 170px;
  height: 50px;
  font-size: 26px;
  color: #13032a;
  border-radius: 15px
}

.skills-list{
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-evenly;
}
.skill-list-container{
  border: 2px solid rgba(61, 222, 7, 0.631);
  margin: 60px 40px 100px 40px;
  box-shadow: 0px 0px 50px rgb(0, 221, 255);
  border-radius: 20px;
}

.spacer{  
  justify-content:space-between;
}

.skill{
  margin-bottom: 10px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 20px; 
  background-color: whitesmoke;
  transition: 0.5s;
}

.skill:hover{
  box-shadow: 0px 0px 16px #ff004f;
  transform: scale(1.05);
}

.skill:hover img{
  filter: drop-shadow(0px 0px 4px black);
}

.skill img{
  padding: 15px 15px;
  width: 100%;
  display: block;
  transition: 0.5s;
}

.beginner{
  background-color: var(--beginner);
}
.moderate{
  background-color: var(--moderate);
}
.expert{
  background-color: var(--expert);
}